In [6]:
#varible first rule no space between varible
FirstName="Shivam"
print(FirstName)

Shivam

In [7]:
#Name of varible should not start with number
1name="shivam"

SyntaxError: invalid syntax (<ipython-input-7-82dbe9ae7d0d>, line 2)

In [8]:
name1="shiva"
print(name1)

shiva

In [ ]:
#rule 3 no special character should be allowed while describing 
#$ @ % not allowed